
.regi
{
  background-image: linear-gradient(to right, #ff5722, #ff9800);
  margin-top: 70px !important ;
}
.register-left
{
  text-align: center;
  color: #fff;
  padding: 30px; 
}
.register-left p
{
  padding: 10px 10px 0;
}
.register-left img
{
  margin-top: 60px;
  margin-bottom: 18px;
  width: 80px;
  animation: mover 1s infinite alternate;
}
.register-left .btn-primary
{
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #f8f8f8;
  font-weight: 600;
  color: #555;
  margin-top: 10px;
  padding: 10px;
}
.register-right
{
  text-align: center;
  border: none;
  background: #f8f8f8;
  border-top-left-radius: 20% 40%;
  border-bottom-left-radius: 20% 40%;
  border-top-right-radius: 20% 40%;
  border-bottom-right-radius: 20% 40%;
  padding: 50px;
}
.register-right h2
{
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}
.register-form
{
  padding: 1px;
  text-align: center;
  

}
.register-right .btn-primary
{
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #ff9800;
  font-weight: 600;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

@keyframes mover
{
  0%{transform: translateY(0);}
  100%{transform: translateY(-20px);}
}
*
{
  margin: 0;
  padding: 0;
}

#navbarNav,#aa{
  background-color:#fff;
}
 #nav-bar
 {
   position: sticky;
   top: 0;
   z-index: 10;
   background-color: #fff;
   
 }
 .navbar-brand img
 {
   height: 40px;
   padding-left: 30px;
 }
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover
{
  color: #007bff !important;
}
.navbar{
  background: #fff;
}
.navbar-toggler
{
  border: none !important;
}
.nav-link
{
  color:#555 !important;
  font-weight: 600;
  font-size: 16px;
}

/*---------Slider--------------*/
#slider
{
  width: 100%;
}
.carousel-caption
{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}
.carousel-caption h5
{
  color: #fff;
  font-size: 42px;
}
